*{
	font-family: Open Sans, Helvetica Neue, Arial;
}

body{
	margin: 0px;
	overflow: hidden;
}

.logo {
	margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 8%;
	width: 200px;
	height: 70px;
}

.search-bar{
	margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    margin-right: 50px;
	width: 100%;
	position: relative;
}

.permanent-text {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
}

#textFind {
	border-radius: 5px 0px 0px 5px;
}

.search-food {
  float: left;
  width: 40%;
  border: 3px solid #ffffff;
  border-right: 1px solid #cbced3;
  padding: 5px;
  height: 35px;
  border-radius: 0px 0px 0px 0px;
  outline: none;
  color: #000000;
  font-size: 16px;
}

.search-location {
  float: left;
  width: 40%;
  border: 3px solid #ffffff;
  padding: 5px;
  height: 35px;
  outline: none;
  color: #000000;
  font-size: 16px;
}

.search-button {
  margin-left: -2px;
  width: 40px;
  height: 35px;
  border: 1px solid #ffffff;
  text-align: center;
  background-color: #61a064;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  font-size: 20px;
}

#searchIcon {
	padding-top: 5px;
	width: 20px;
}
.restaurant-list,.menu-list{
	margin-left: 20px;
/*	height: 90vh;
*/}
.restaurant-list-header{
	font-size: 16px;
	display: flex;
	align-items: left;
	justify-content: space-between;
	text-align: left;
	margin: 20px;
}

.sort-dropbtn {
	font-size: 16px;
}

.sort-dropdown {
    position: relative;
    display: inline-block;
}

.sort-dropdown-content {
    height: 25px;
    font-size: 16px;
}

.sort-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sort-dropdown-content a:hover {background-color: #f3f3f3}

.sort-dropdown:hover .sort-dropdown-content {
    display: block;
}

.sort-dropdown:hover .sort-dropbtn {
    background-color: #f3f3f3;
}

.restaurant-item.hidden,.menu-item.hidden{
	display: none;
}
.grid-container{
	display: grid;
	grid-template-columns: 25vw 75vw;
	grid-template-rows: 80px auto;
	grid-template-areas:
		'header header'
		'leftCol rightCol';
}

.header-item{
	grid-area: header;
	display:flex;
	background: linear-gradient(#5b915e, #b3d18a)
/*	background: linear-gradient(#61a064, #b3d18a)
*/}

.left-col{
	grid-area: leftCol;
	padding: 20px;
    background-color: #eff1f2;
	max-width: 30vw;
    display:flex;
    flex-direction: column;
/*    border-right: 1px solid #aaaa77;
*/}

.right-col{
	grid-area: rightCol;
	/*padding-top: 20px;*/
    display: flex;
    flex-direction: column;

	overflow-x: hidden;
    height: 90vh;
}
.index{
	display: inline-flex;
}
#filtersDiv {
    
}
.filter-label{
	text-transform: capitalize;
}
.filter{
	border: 1px solid #cbd1db;
	border-top: 5px;
	border-bottom: 5px;
	border-right: 17px;
	border-left: 17px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 16px;
}

#dietary, #meal, #cost {
    padding-bottom: 5px;
    padding-top: 5px;
}

button.active-filter{
	background-color: lightblue;
	border-radius: 5px;
	outline: none;
}

.map_to_resturant{
	padding-bottom: 10px;
	border-radius: 5px;
    width: 100%;
}

.restaurant-item{
	display: flex;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #cccccc;
    width: 100%
}

.restaurant-item #restaurant-info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 20px;
    padding-top: 5px;
}

#restaurant-left-info-container a .index {
    font-size: 36px;
	font-weight: bold;
	padding-bottom: 10px;
	color: black;
	display: inline-block;
    padding-right: 10px
}

#below-title-container {
    display: flex;
    flex-direction: row;
}

#restaurant-info-container #restaurant-left-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#restaurant-info-container #restaurant-right-info-container {
    display: flex;
    align-items: center;
}

#restaurant-info-container #restaurantDetails {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.restaurant-item .title{
	font-size: 36px;
	font-weight: bold;
	padding-bottom: 10px;
	color: black;
	display: inline-block;
}

.restaurant-item .image{
	width: 160px;
	height: 160px;
	border-radius: 5px;
}

#restaurantDetails .distance {
    font-weight: 900;
}

#restaurantDetails .additional-info {
    margin-top: 5px;
}

#imageContainer{
	display: flex;
}


.rating{
	height: 25px;
}

/*.restaurant-item .cost{
	grid-row: 3;
	grid-column: 3;
}
.restaurant-item .street{
	grid-row: 2;
	grid-column: 4;
}
.restaurant-item .city{
	grid-row: 3;
	grid-column: 4;
}
.restaurant-item .phone-number{
	grid-row: 4;
	grid-column: 4;
}*/


.full-star{
}
.half-star{
}
.full-carrot{
}
.half-carrot{
}

#dietaryRestrictions, #mealType, #costFilter, #restrictionfilter {
	padding-bottom: 5px;
}

#dietaryRestrictionFilters, #mealRestrictionFilters, #costRestrictionFilters, #ratingRestrictionFilters{
	padding: 5px;
}

.filterTitle{
	font-weight: bold;
	font-size: 20px;
}

.filterHeader {
    font-weight: bold;
	font-size: 24px;
}

.vegRating, .starRating {
	display: flex;
	padding-bottom: 5px;
}

button {
	height: 25px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #cbd1db;
}

/* REVIEW CSS */
#back-to-search {
    background-color: #dddddd;
    border: none;
    height: 50px;
    font-size: 18pt;
    flex-direction: row;
    align-items: center;
    transition-duration: .05s;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

#back-to-search #arrow {
    font-size: 22pt;
    margin-bottom: 0px;
}

#back-to-search:hover {
    background-color: #eeeeee;
    border: 1px solid #a3d18c;
    color: #a3d18c;
}

#menu-select, #reviews-select {
    display: flex;
    background-color: #dddddd;
    border: none;
    height: 30px;
    font-size: 12pt;
    align-items: center;
    justify-content: center;
    transition-duration: .05s;
    width: 100%;
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#menu-select.selected, #reviews-select.selected {
    background-color: #a3d18c;
}

#menu-select:hover, #reviews-select:hover {
    background-color: #eeeeee;
    border: 1px solid #a3d18c;
    color: #a3d18c;
    cursor: pointer;
}

#restaurant-details {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: #ffffff;
}

#restaurant-description {
    display: flex;
    flex-direction: row;
}

#restaurant-location-img {
    max-width: -webkit-fill-available;
}

#star-rating, #carrot-rating {
	display:flex;
    align-items: center;
}

#star-rating img, #carrot-rating img {
    width: 20px;
    margin-bottom: 5px;
}

#ratings-details {
    margin-left: 4px;
    justify-content: flex-start;
}

#address-contact-info {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 9pt;
    margin-left: auto;
    margin-bottom: 10px;
}

#address-contact-info:hover {
    cursor: pointer;
}

#restaurant-title {
    margin-bottom: 1px;
    margin-top: 10px;
}

#restaurant-hours {
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

#top-review-section {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 15px;
}

#top-review {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 3px;
}

#top-review a {
}

#top-review-header h2 {
    font-size: 14pt;
    margin-bottom: 1px;
    margin-top: 0px;
}

#top-review-section {
    font-style: italic;
}

#reviews-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 30px;
}

#reviews-header-title {
    width: 40%;
    padding-left: 20px;
}

.reviews-header-sortby {
    width: 50%;
    color: #999999;
    display: flex;
    align-items: center;
}

.reviews-header-sortby-title{
    padding-right: 10px;
}

#reviews-container {
    overflow-y: scroll;
    justify-content: flex-start;
}

.vegan-review-entry, .general-review-entry, .pescetarian-review-entry, .vegetarian-review-entry{
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    flex-direction: row;
    height: 180px;
}

#review-entry-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 8px;
}

#review-title {
    font-weight: bolder;
    font-size: 16pt;
}

#dish-title {
    margin-left: 30px;
    color: #555555
}

#review-entry-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#review-entry-author {
    font-weight: bolder;
    border-top: 1px solid #aaaaaa;
    padding-top: 3px;
    font-size: 10pt;
    color: #555555;
}

#review-entry-date {
    margin-left: 30px;
    font-size: 10pt;
    color: #555555
}

#review-entry-star-rating {
	display:flex;
	flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
}

#review-entry-star-rating img{
    width: 25px;
    margin-bottom: 5px;
}

#review-body {
    padding-right: 3%;
    padding-bottom: 10px;
}

#review-body4 {
    padding-bottom: 30px;
}

#review-entry-pro-pic {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#review-entry-pro-pic img {
    border-radius: 50%;
    width: 8vw;
    margin-left: 20px;
    margin-right: 20px;
}

#review-entry-footer [type="checkbox"] {
    position: absolute;
    left:  -100000px;   
}

#review-see-more {
	position: relative;
    margin-left: 670px;
    margin-top: -52px;
    cursor:pointer;
    padding-bottom: 10px;
    text-decoration: underline;
}
#review-see-more:hover{
	color: #a3d18c;
}

#review-expanded {
	display: none;
	padding-bottom:30px;
}

#review-see-less {
	display: none;
	position: relative;
    margin-left: 740px;
    margin-top: -52px;
    padding-bottom: 10px;
    cursor:pointer;
    text-decoration: underline;
}
#review-see-less:hover{
	color: #a3d18c;
}

label:after {
    font-size: 11pt;
    content: 'See More...';
    text-decoration: underline;
    color: blue;
    margin-left: 85%;
}

input[type="checkbox"] ~ div {
    width: 100%;
    display: none;
}

[type="checkbox"]:checked ~ div {
    display: block;
} 

[type="checkbox"]:checked + label:after {
    content: 'See Less';
    position: absolute;
    top: 100%;
    
}

.filterRating{
	width: 20px;
}

#menu{
/*	align-self: center;
*/
	margin-left: 42%;
	padding-top: 10px;
	font-size: 48px;
	font-family: 'Norican';
	text-decoration: underline;
	text-decoration-line: 2px;
	margin-bottom: 20px;
}

#restaurant-description #ratings-details .full-star {
    height: 20px;
}

.menu{
	background: #f9f4e5;
	margin: 50px;
	border-radius: 10px;
}

.menu-container {
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: space-between;
	padding: 30px;
}

.menu-item{
	display: flex;
	align-items: left;
	flex-wrap: wrap;
	width: 100%;
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	margin-bottom: 20px;
}

.menu-left {
	width: 60%;
}

.menu-item-info {
	margin-left: 15px;
	flex: 0 1 60%;
}

.menu-see-more {
	margin-left: auto;
	text-decoration: underline;
	cursor: pointer;
}
.menu-see-more:hover {
	color: #a3d18c;
}

.menu-see-less {
	margin-top: 20px;
	margin-left: auto;
	text-decoration: underline;
	cursor: pointer;
	display: none;
}

.menu-see-less:hover {
	color: #a3d18c;
}


.menu-image {
	width: 120px;
	height: 120px;
}

.item-title {
	font-size: 24px;
	font-weight: 400;
	display: inline-block;
}

.item-cost {
	margin-top: 10px;
    font-size: 14pt;
}

.link {
	text-decoration: none;
	color: black;
	grid-column: 1/3;
	grid-row: 1;
}

.title:hover{
	color: #a3d18c;
}

/*styling for menu item expansions*/

.expansion {
	flex-wrap: wrap;
	display: none;
}

.ingredients-expansion {
	padding-top: 10px;
	font-size:15px;
	flex: 1 0 30%;
}

.reviews-expansion {
	padding-top: 10px;
	font-size:15px;
	flex: 1 0 60%;
}

#ingredients-exp-title {
	text-decoration: underline;
	font-size: 18px;
}

#reviews-exp-title {
	text-decoration: underline;
	font-size: 18px;
}

.menu-right{
    display: flex;
    flex-direction: column;
    width: 200px;
}

#full-hours, #restaurant-hours{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}

#hours-container{
    padding-top: 4px;
    display: flex;
    flex-direction: row;
}

a#restaurant-hours:hover {
    color: #a3d18c;
}

#days-of-week {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 42%;
}

#hours-of-day {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#bruh{
    margin-bottom: -10px;
    display: flex;
    align-items: center;
}

#sub{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#subs{
    margin-top: -25px;
    margin-bottom: -10px;
    display: none;
}
